<div class="container">
  <div>
    <h3>Mining with {{miningApp.name}}</h3>
    <p>{{miningApp.info}}</p>
    <h4>Get the lastest version of
        <a href="{{miningApp.url}}" target="_blank">{{miningApp.name}}</a>
    </h4>
  </div>
  {{#if miningApp.runtime}}  
  <div>
    {{#if miningApp.runtime.example}}
    <div>
      <p class="text-left">
          <strong>Run it with:</strong>
          <br>
          <code>{{miningApp.runtime.example}}</code>
      </p>
    </div>
    {{/if}}

    {{#if miningApp.runtime.options}}
    <div>
      <!--Button Expands the Options Panel-->
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#mining-app-{{miningAppIndex}}-runtime-options-collapse">Options</button>

      <!--Button Expands entire Options div-->
      <div id="mining-app-{{miningAppIndex}}-runtime-options-collapse" class="collapse">

        <!--Accordion allows one section  of options to be shown at a time-->
        <div class="panel-group" id="mining-app-{{miningAppIndex}}-runtime-options-accordion">
          {{#each miningApp.runtime.options.sections as |section sectionIndex|}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#mining-app-{{miningAppIndex}}-runtime-options-accordion" href="#mining-app-{{miningAppIndex}}-runtime-options-section-{{sectionIndex}}-collapse">{{section.name}}</a>               
                </h4>
              </div>
              <div id="mining-app-{{miningAppIndex}}-runtime-options-section-{{sectionIndex}}-collapse" class="panel-collapse collapse">
                <div class="panel-body">
                  <h5>{{section-info}}</h5>    

                  <table class="table table-striped table-condensed">
                    <thead>
                      <th>Parameter</th>
                      <th>Description</th>
                    </thead>
                    <tbody>
                    {{#each section.parameters as |param|}}
                      <tr>
                        <td><div style="vertical-align:top;">{{param.name}}</div></td>
                        <td><div style="vertical-align:top;">{{param.info}}</div></td>
                      </tr>
                      {{#each param.values as |value|}}
                        <tr>
                          <td><div style="margin-left:25px;vertical-align:top;">{{value.name}}</div></td>
                          <td><div style="margin-left:25px;vertical-align:top;">{{value.info}}</div></td>
                        </tr>                        
                      {{/each}}
                    {{/each}}
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          {{/each}}            
        </div>
      </div>
    </div>
    {{/if}}

    {{#each miningApp.notes as |note|}}
    <div class="miningapp-note">
      <h4>{{note.name}}</h4>
      <div>
        <p>{{note.info}}</p>
      </div>      
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>


