<div class="container">
  <h3>Mining with {{miningApp.name}}</h3>
  <p class="lead">Get the lastest version of
      <a href="{{miningApp.url}}" target="_blank">{{miningApp.name}}</a>
  </p>
  {{#if miningApp.runtime}}  
    {{#if miningApp.runtime.example}}
    <p class="text-left">
        <strong>Run it with:</strong>
        <br>
        <code>{{miningApp.runtime.example}}</code>
    </p>
    {{/if}}

    {{#if miningApp.runtime.options}}

    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#mining-app-runtime-options-{{miningAppIndex}}-collapse">Options</button>

    <div id="mining-app-runtime-options-{{miningAppIndex}}-collapse" class="collapse">
      <div class="panel-group" id="mining-app-runtime-options-{{miningAppIndex}}-accordion">
        <div class="panel panel-default">
          {{#each miningApp.runtime.options.sections as |section sectionIndex|}}
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#mining-app-runtime-options-{{miningAppIndex}}-accordion" href="mining-app-runtime-options-section-{{sectionIndex}}">
              {{section.title}}
              </a>
            </h4>
            {{#each section.parameters as |param paramIndex|}}
            <span class="mining-app-runtime-options-param-name">{{param.name}}</span>
            <span class="mining-app-runtime-options-param-desc">{{param.description}}</span>
            {{/each}}
          </div>
          {{/each}}
        </div>          
      </div>
    </div> 

    {{/if}}
  {{/if}}
</div>


