<div class="container">
  {{#if model.payments}}
  <h4>Your Latest Payouts</h4>

  {{mining-stat iconClass="fa fa-paper-plane-o" title="Total Payments:" value=(format-number model.paymentsTotal)}}
  
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th style="min-width: 175px;">Time</th>
          <th>Tx ID</th>
          <th style="min-width: 75px;">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.payments as |tx|}}
          <tr>
            <td>{{format-date-locale tx.timestamp}}</td>
            <td>
              <div class="truncate-ellipsis">
                <a href="http://ubiqscan.io/en/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{tx.tx}}</a>
              </div>
            </td>
            <td>{{format-balance tx.amount}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>No payouts yet</h3>
  {{/if}}
</div>
