{{page-header title="Account: " after-title=model.login}}

<div class="container">
  <div class="well"> 

    <div class="row">      
      
      <div class="col-md-4">        
        <div class="stats">
          {{mining-stat iconClass="fa fa-money" title="Immature Balance:" value=(format-balance model.stats.immature)}}          
          <small style="margin-left: 10px;">Preliminary balance awaiting blocks to mature.</small>
          
          {{mining-stat iconClass="fa fa-money" title="Pending Balance:" value=(format-balance model.stats.balance)}}          
          <small style="margin-left: 10px;">Credited coins awaiting payout.</small>        

          {{#if model.stats.pending}}
            {{mining-stat iconClass="fa fa-money" title="Pending Payment:" value=(format-balance model.stats.pending)}}                  
          {{/if}}

          {{mining-stat iconClass="fa fa-money" title="Total Paid:" value=(format-balance model.stats.paid)}}           
        </div>
      </div>

      <div class="col-md-4 stats">
        <div class="stats">
          {{mining-stat iconClass="fa fa-gears" title="Workers Online:" value=(format-number model.workersOnline)}}          
          {{mining-stat iconClass="fa fa-tachometer" title="Hashrate (30m):" value=(format-hashrate model.currentHashrate)}}          
          {{mining-stat iconClass="fa fa-tachometer" title="Hashrate (3h):" value=(format-hashrate model.hashrate)}}         
        </div>
      </div>

      <div class="col-md-4 stats">    
        <div class="stats">
          {{mining-stat iconClass="fa fa-bars" title="Blocks Found:" value=(format-number model.stats.blocksFound fallback='0')}}          
          {{#if model.stats.lastShare}}
            {{mining-stat iconClass="fa fa-clock-o" title="Last Share Submitted:" value=(format-relative (seconds-to-ms model.stats.lastShare))}}                    
          {{/if}}        
          {{mining-stat iconClass="fa fa-tachometer" title="Round Share:" value=(format-number roundPercent style='percent' maximumFractionDigits='6')}}
          <small style="margin-left: 10px;">Percent of your contribution to current round.</small>
        </div>    
      </div>      
    </div>
   
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    {{#active-li current-when='account.index' role='presentation'}}
      {{#link-to 'account.index'}}Workers 
        {{#if model.workersOffline}}
          <span class="badge alert-danger">{{model.workersOffline}}</span>
        {{/if}}
      {{/link-to}}
    {{/active-li}}
    {{#active-li current-when='account.payouts' role='presentation'}}
      {{#link-to 'account.payouts'}}Payouts{{/link-to}}
    {{/active-li}}
  </ul>
</div>

{{outlet}}
