{{page-header title="Account: " after-title=model.login}}

<div class="container">
  <div class="card"> 
    <div class="card-body">

      <div class="row">      
        
        <div class="col-md-4 stats">        
          <div class="card">
            {{mining-stat iconClass="dollar" title="Immature Balance:" value=(format-balance model.immature)}}          
            <small style="margin-left: 10px;">Preliminary balance awaiting blocks to mature.</small>
            
            {{mining-stat iconClass="dollar" title="Pending Balance:" value=(format-balance model.balance)}}          
            <small style="margin-left: 10px;">Credited coins awaiting payout.</small>        

            {{#if model.pending}}
              {{mining-stat iconClass="dollar" title="Pending Payment:" value=(format-balance model.pending)}}                  
            {{/if}}

            {{mining-stat iconClass="dollar" title="Total Paid:" value=(format-balance model.paid)}}           
          </div>
        </div>

        <div class="col-md-4 stats">
          <div class="card">
            {{mining-stat iconClass="cog" title="Workers Online:" value=(format-number model.workersOnline)}}          
            {{mining-stat iconClass="pulse" title="Hashrate (30m):" value=(format-hashrate model.shortHashrate)}}          
            {{mining-stat iconClass="pulse" title="Hashrate (3h):" value=(format-hashrate model.longHashrate)}}         
          </div>
        </div>

        <div class="col-md-4 stats">    
          <div class="card">
            {{mining-stat iconClass="grid-two-up" title="Blocks Found:" value=(format-number model.blocksFound fallback='0')}}          
            {{#if model.lastShare}}
              {{mining-stat iconClass="clock" title="Last Share Submitted:" value=(format-relative (seconds-to-ms model.lastShare))}}                    
            {{/if}}        
            {{mining-stat iconClass="pie-chart" title="Round Share:" value=(format-number roundPercent style='percent' maximumFractionDigits='6')}}
            <small style="margin-left: 10px;">Percent of your contribution to current round.</small>
          </div>    
        </div>      
      </div>

    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-tabs" role="tablist">            
    <li class="nav-item">  
      <a class="nav-link active" id="stats-tab" href="#workers" role="tab" aria-controls="workers" aria-selected="true" data-toggle="tab">
        Workers
        {{#if model.workersOffline}}
          <span class="badge alert-danger">{{model.workersOffline}}</span>
        {{/if}}
      </a>              
    </li>

    <li class="nav-item">
      <a class="nav-link" id="payouts-tab" href="#payouts" role="tab" aria-controls="payouts" aria-selected="false" data-toggle="tab">
      Payouts
      </a>
    </li>
  </ul>    
  <div class="tab-content">
    <div class="tab-pane fade show active" id="workers" role="tabpanel" aria-labelledby="immature-tab">
    {{partial 'account/workers'}}
    </div>
    <div class="tab-pane fade" id="payouts" role="tabpanel" aria-labelledby="immature-tab">
    {{partial 'account/payouts'}}
    </div>    
  </div>            

</div>


