{{page-header title="Help"}}

<div class="container">
    <div class="card">
        <div class="card-header">
            Stratum Mining (S)
        </div>
        <div class="card-body">                  
            {{#if model.miningApps}}                
                {{#each model.miningApps as |miningApp miningAppIndex|}}  
                    {{mining-app miningApp=miningApp miningAppIndex=miningAppIndex}}
                {{/each}}                
            {{else}}                
                <p class="lead">Point your favorite Ethash mining application at {{config.StratumHost}}:{{config.StratumPort}} and be sure to
                    include &lt;YOUR_UBIQ_ADDRESS&gt; and &lt;YOUR_RIG_ID&gt;</p>                
            {{/if}}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Contact
        </div>
        <div class="card-body">            
            You can contact <strong>avocadoChill</strong> on
            <a href="https://www.reddit.com/message/compose/?to=avocadochill" target="_blank">Reddit</a>
            and also on the 
            <a href="https://discord.gg/HF6vEGF" target="_blank">Ubiq Discord server</a>            
        </div>    
    </div>  

    <div class="card">
        <div class="card-header bg-warning text-dark">
            Terms of Service
        </div>
        <div class="card-body">            
            By using the pool you accept all possible risks related to experimental software usage.
            <br>                
            Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.            
        </div>
    </div>      
</div>