{{pool-stats-bar poolStats=model.poolStats networkStats=model.networkStats}}  

<div class="container">   
  
    <div class="card">
      <div class="card-header">        
          Your Stats &amp; Payment History        
      </div>
      <div class="card-body">
        <div class="stats">                
          <div class="input-group">
            {{input value=cachedLogin class="form-control" placeholder="Enter Your Ubiq Address"}}
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
                <div class="d-flex align-items-center">
                  <span style="display: inline;">
                    {{open-iconic icon-name="magnifying-glass"}}
                    <span>Lookup</span>
                  </span>
                </div>
              </button>
            </span>
          </div>
        </div>
      </div>      
    </div>
  
    <div class="card">
      <div class="card-header">        
        <span class="text-center">Instructions</span>        
      </div>      
      <div class="card-body">
        
          {{#link-to "help"}}
            <h3 class="ul ul-success text-center">Stratum</h3>
            <div>
              <img class="emblem-earth" src="/assets/images/Emblem-earth.svg"/>
              <p class="lead text-center">{{config.StratumHost}}:{{config.StratumPort}}</p>
            </div>
          {{/link-to}}
        
      </div>
    </div>    


</div>

  
