{{pool-stats-bar poolStats=model.poolStats networkStats=model.networkStats}}  

<div class="container"> 
  
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h1 class="panel-title">
          Your Stats &amp; Payment History
        </h1>
      </div>
      <div class="panel-body">
        <div class="stats">                
          <div class="input-group">
            {{input value=cachedLogin class="form-control" placeholder="Enter Your Ubiq Address"}}
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
                <span style="display: inline;">
                  <i class="fa fa-search"></i>Lookup
                </span>
              </button>
            </span>
          </div>
        </div>
      </div>      
    </div>
  </div>

  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">      
        <h1 class="panel-title">
          <span class="text-center">Instructions</span>
        </h1>
      </div>      
      <div class="panel-body">
        <p class="lead text-center">
          {{#link-to "help"}}
            <span class="ul ul-success">Stratum</span>
          {{/link-to}}
        </p>

        <div class="text-center">
          <object type="image/svg+xml" data="/assets/images/flag-usa.svg" class="flag"></object>
        </div>

        <p class="lead text-center">{{config.StratumHost}}:{{config.StratumPort}}</p>        
      </div>
    </div>    
  </div>


</div>

  
