{{pool-stats-bar poolStats=model.poolStats networkStats=model.networkStats}}    

<div class="jumbotron">
  <div class="container">
    <div class="stats">
      <h4>Your Stats &amp; Payment History</h4>
      <div class="input-group">
        {{input value=cachedLogin class="form-control" placeholder="Enter Your Ubiq Address"}}
        <span class="input-group-btn">
          <button class="btn btn-primary btn-ubiq" type="button" {{action 'lookup' cachedLogin}}>
            <span style="display: inline;">
              <i class="fa fa-search"></i> Lookup</span>
          </button>
        </span>
      </div>
    </div>
    <div>
      <div class="jumbotron">
        <div class="container">
          <h3 class="text-center" style="padding: 0 0 5px 0; margin: 0 0 40px 0;"> Instructions</h3>
          <div class="row">            
            <div class="col-md-12">
              <p class="lead text-center">
                {{#link-to "help"}}
                  <span class="ul ul-warning">Stratum</span>
                {{/link-to}}
              </p>             
            </div>
          </div>
          <div class="row">                        
            <div class="text-center">
              <object type="image/svg+xml" data="/assets/images/flag-usa.svg" class="flag"></object>
            </div>
            <p class="text-center">{{config.StratumHost}}:{{config.StratumPort}}</p>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

