<div class="container">
  <div class="jumbotron-brand">
    <div class="page-header">
      <h1>Miners</h1>
    </div>
    <div class="stats">
      <i class="fa fa-tachometer"></i> Total hashrate: <span class="label label-info">{{format-hashrate model.hashrate}}</span>
    </div>
    <div class="stats">
      <i class="fa fa-users"></i> Total miners: <span class="label label-info">{{model.minersTotal}}</span>
    </div>
  </div>
</div>
<div class="container">
  {{#if model.miners}}  
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title">Miners</h1>
    </div>
    <div class="panel-body">      
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Login</th>
              <th style="min-width:100px;">Hashrate</th>
              <th style="min-width:175px;">Last Beat</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.miners as |m|}}
            <tr class="{{if m.offline "warning"}}">
              <td>
                <div class="truncate-ellipsis">
                  {{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}
                </div>
              </td>
              <td>{{format-hashrate m.hr}}</td>
              <td>{{format-date-locale m.lastBeat}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>      
      </div>
    </div>
  </div>  
  {{else}}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title">No miners yet</h1>
    </div>
    <div class="panel-body">

    </div>
  </div>
  {{/if}}
</div>
