{{#page-header title="Miners"}}
  {{mining-stat iconClass="pulse" title="Total Hashrate:" value=(format-hashrate model.hashrate)}}
  {{mining-stat iconClass="laptop" title="Total Miners:" value=(format-number model.minersTotal)}}
{{/page-header}}

<div class="container">
  {{#if model.miners}}  
  <div class="card">    
    <div class="card-body">      
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Login</th>
              <th style="min-width:100px;">Hashrate</th>
              <th style="min-width:175px;">Last Beat</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.miners as |m|}}
            <tr class="{{if m.offline "warning"}}">
              <td>
                <div class="truncate-ellipsis">
                  {{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}
                </div>
              </td>
              <td>{{format-hashrate m.hr}}</td>
              <td>{{format-date-locale m.lastBeat}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>      
      </div>
    </div>
  </div>  
  {{else}}
  <div class="card">
    <div class="card-header">
      No miners yet
    </div>
    <div class="card-body">

    </div>
  </div>
  {{/if}}
</div>
