<div class="container">
  <div class="jumbotron-brand">
    <div class="page-header">
      <h1>Payments</h1>
    </div>
    
    <p>Pool always pays tx fees from it's own pocket.</p>
    <p>
      <i class="fa fa-money"></i> Total payments sent: <span class="label label-info">{{model.paymentsTotal}}</span>
    </p>
  </div>
</div>
<div class="container">
  {{#if model.payments}}
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 class="panel-title">Latest Payouts</h1>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th style="min-width:175px;">Time</th>
              <th style="min-width:75px;">Amount</th>
              <th>Address</th>
              <th>Tx ID</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.payments as |tx|}}
              <tr>
                <td>{{format-date-locale tx.timestamp}}</td>
                <td>{{format-number tx.formatAmount}}</td>
                <td>
                  <div class="truncate-ellipsis">
                    <a href="http://ubiqscan.io/en/address/{{tx.address}}" class="hash" rel="nofollow" target="_blank">{{tx.address}}</a>
                  </div>
                </td>
                <td>
                  <div class="truncate-ellipsis">
                    <a href="http://ubiqscan.io/en/tx/{{tx.tx}}" class="hash" rel="nofollow" target="_blank">{{format-tx tx.tx}}</a>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{else}}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h1 class="panel-title">No payouts yet</h1>
    </div>
    <div class="panel-body">

    </div>
  </div>
  {{/if}}
</div>
